---
layout: default
---

<div class="home">
    {{ content }}

    <div class="random-essays">
        <h2>Explore</h2>
        <ul class="essay-list">
            {% assign essay = site.essays | sample: 1 %}
            <li class="essay-item">
                <h3 class="essay-title">
                    <a href="{{ essay.url | relative_url }}">{{ essay.title }}</a>
                </h3>
                <time class="essay-date" datetime="{{ essay.date | date_to_xmlschema }}">
                    {{ essay.date | date: "%B %-d, %Y" }}
                </time>
            </li>
        </ul>
    </div>
</div> 