---
layout: default
---

<div class="home">
    {{ content }}

    <div class="random-essays">
        <ul class="essay-list">
            {% for essay in site.essays reversed %}
            {% unless essay.draft %}
            {% assign now = 'now' | date: '%s' | plus: 0 %}
            {% assign essay_date = essay.date | date: '%s' | plus: 0 %}
            {% if essay_date > now %}{% continue %}{% endif %}
            <li class="essay-item">
                <h3 class="essay-title">
                    <a href="{{ essay.url | relative_url }}">{{ essay.title }}</a>
                </h3>
                {% if essay.description %}
                <p class="essay-description">{{ essay.description }}</p>
                {% endif %}
                <time class="essay-date" datetime="{{ essay.date | date_to_xmlschema }}">
                    {{ essay.date | date: "%B %-d, %Y" }}
                </time>
            </li>
            {% endunless %}
            {% endfor %}
        </ul>
    </div>
</div> 