---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>
    
    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %-d, %Y" }}
    </time>

    <div class="post-content">
        {{ content }}
    </div>
</article>

<div class="random-essays">
    <h2>Explore</h2>
    <ul class="essay-list">
        {% assign other_essays = site.essays | where_exp:"essay", "essay.url != page.url" %}
        {% assign essay = other_essays | sample: 1 | first %}
        <li class="essay-item">
            <h3 class="essay-title">
                <a href="{{ essay.url | relative_url }}">{{ essay.title }}</a>
            </h3>
            <time class="essay-date" datetime="{{ essay.date | date_to_xmlschema }}">
                {{ essay.date | date: "%B %-d, %Y" }}
            </time>
        </li>
    </ul>
</div> 